*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56,25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem;
  color: #2d2d2d; }

.heading-primary--top {
  font-size: 4.5rem;
  font-weight: 700;
  color: #efefef; }

.heading-primary--bottom {
  font-size: 4rem;
  font-weight: 300;
  color: #efefef;
  max-width: 80rem; }

.heading-secondary {
  text-align: center;
  font-size: 3.2rem; }

.paragrah {
  font-size: 1.6rem;
  margin-bottom: 3rem; }

.wrap {
  max-width: 1140px;
  margin: 0 auto; }

.text-center {
  text-align: center; }

.margin-bottom-big {
  margin-bottom: 6rem; }

.margin-bottom-medium {
  margin-bottom: 4rem; }

.margin-bottom-small {
  margin-bottom: 2rem; }

.conhecimentos-list {
  display: flex;
  flex-wrap: wrap; }
  .conhecimentos-list__link {
    color: inherit;
    flex: 0 0 18%;
    text-decoration: none;
    padding: 1rem;
    margin: 4rem 1%;
    text-align: center; }
  .conhecimentos-list__link:hover {
    color: #1b96ed; }
  .conhecimentos-list__icon {
    display: inline-block;
    font-size: 13rem; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.5rem 2.5rem;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.btn--white {
  color: #efefef;
  border: 2px solid #efefef; }
  .btn--white:hover {
    background-color: #efefef;
    color: #092327; }

.btn-down {
  font-size: 3rem !important;
  border-radius: 50%;
  padding: .5rem 2.2rem !important;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%); }
  .btn-down__icon {
    display: inline-block;
    transition: all .2s; }
  .btn-down:hover .btn-down__icon {
    transform: translateY(5px); }

.btn--green {
  color: #6D6D6D;
  border: 2px solid #6D6D6D; }
  .btn--green:hover {
    background-color: #6D6D6D;
    color: #efefef; }

.list {
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    flex: 0 0 31%;
    margin: 1rem 1%;
    position: relative;
    overflow: hidden; }
    .list__item__img {
      width: 100%;
      transition: all .3s; }
    .list__item__overlay {
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: rgba(133, 147, 152, 0.8);
      display: flex;
      flex-direction: column;
      padding-left: 2rem;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: opacity .1s; }
      .list__item__overlay__icon {
        font-size: 7.5rem;
        color: #fff; }
    .list__item:hover .list__item__overlay {
      opacity: 1; }
    .list__item:hover .list__item__img {
      transform: scale(1.05); }

.page-separator {
  pointer-events: none; }
  .page-separator path {
    fill: #efefef;
    stroke: #efefef;
    stroke-width: 3; }

.popup {
  height: 100vh;
  width: 100vh; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  position: fixed;
  right: 3rem;
  top: 3rem;
  z-index: 4000;
  background-color: #fff;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1);
  cursor: pointer; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  position: relative;
  width: 3.3rem;
  height: 3px;
  background-color: #000;
  display: inline-block;
  transition: all .2s; }

.navigation__icon::before {
  content: "";
  position: absolute;
  left: 0;
  top: -.8rem; }

.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  top: .8rem; }

.navigation__background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;
  right: 0;
  z-index: 2000;
  background: linear-gradient(to bottom, #283048, #859398);
  transition: all 0.7s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  position: fixed;
  top: 0;
  right: 100%;
  z-index: 3000;
  width: 100%;
  height: 100vh;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  list-style: none; }

.navigation__item {
  margin: 1.5rem;
  text-align: center; }

.navigation__item:hover .navigation__link::before {
  left: 0; }

.navigation__item:hover .navigation__link {
  color: #2d2d2d; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  padding: .8rem 2rem;
  transition: all .08s ease-in; }

.navigation__link::before {
  content: "";
  position: absolute;
  background: #fff;
  bottom: 0;
  left: 100%;
  right: 0;
  top: 0;
  z-index: -1;
  transition: all .09s ease-in; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.navigation__checkbox:checked ~ .navigation__background {
  left: 0; }

.navigation__checkbox:checked ~ .navigation__nav {
  right: 0;
  opacity: 1; }

.header {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(40, 48, 72, 0.6), rgba(133, 147, 152, 0.6)), url(./img/background-big.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.footer {
  background-color: #092327;
  color: #fff; }
  .footer__icon {
    font-size: 3rem;
    display: block;
    margin-bottom: 2rem;
    margin-top: 1rem; }
  .footer__paragraph {
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 700; }
  .footer__email {
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin-top: 1rem; }
  .footer__socialmedia {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 2rem 0; }
    .footer__socialmedia__item {
      margin: 0 1rem; }
    .footer__socialmedia__link:link, .footer__socialmedia__link:visited {
      width: 4.5rem;
      height: 4.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #fff;
      border: 2px solid #fff;
      border-radius: 50%; }
    .footer__socialmedia__link:hover {
      background-color: #fff;
      color: #092327; }
    .footer__socialmedia__icon {
      font-size: 2rem; }

.section-sobre {
  padding: 4rem 0;
  background-color: #fff; }
  .section-sobre__image-container {
    width: 20rem;
    margin: 0 auto 2rem auto; }
    .section-sobre__image-container__img {
      width: 100%;
      border-radius: 50%; }

.section-conhecimentos {
  padding: 4rem 0;
  background-color: #efefef; }

.section-curriculum {
  padding: 5rem 0;
  background-color: #fff; }

.section-portfolio {
  padding: 4rem 0;
  background-color: #efefef;
  position: relative; }
