//COLORS #222225
$color-primary-1: #1b96ed;
$color-primary-2: #003459;

$color-green-light-1:#6D6D6D;
$color-green-light-2:#0B5351;
$color-green-light-3:#859398;

$color-blue-dark-1:#283048;

$color-green-dark-1: #092327;

$color-light: #efefef;

$color-white: #fff;
$color-black: #000;
$default-color: #2d2d2d;


//FONTS 
$default-font-size: 1.6rem;