.btn{
    &,
    &:link,
    &:visited{
        text-decoration: none;
        padding: 1.2rem 1.8rem;
        display: inline-block;
        font-size: 1.8rem;
        font-weight: 700; 
        text-transform: uppercase;
    }
    
    &--white{
        @include buttonColor($color-light);
        &:hover{ 
            background-color: $color-light;
            color: $color-green-dark-1
        }
    }

    &-down{
        font-size: 3rem !important;
        border-radius: 50%;
        padding: .5rem 2.2rem !important;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        

        &__icon{
            display: inline-block;
            transition: all .2s;
        }
        &:hover &__icon{
            transform: translateY(5px);
        }
    }

    &--green{
        @include buttonColor($color-green-light-1);
        &:hover{
            background-color: $color-green-light-1;
            color: $color-light;
        }
    }

    &-break{ 
        @include respond(phone-small){
            width: 95%;
            margin: 1rem auto; 
        } 
    }
}