.check-list{
    list-style: none; 
    padding-left: 1.5rem; 

    &__item{
        margin-bottom: 1rem; 
        &::before{
            font-family: "Ionicons";
            content:"\f121";
            padding-right: 1rem;
        }
    }
}

  