.page-separator{
    pointer-events: none;
    width:100%;
    height:10rem;
    & path{
        fill: ($color-light);
        stroke: ($color-light);
        stroke-width: 3;  
    }
    @include respond(tab-land){
        height: 8rem;
    }
}