.wrap{
    max-width:1140px;
    margin: 0 auto;
    @include respond(tab-land){
        padding: 0 1.5rem;
    }
}

.wrap-medium{
    max-width:990px; 
    margin: 0 auto;
}

//TEXT
.text-center{text-align: center;}
.text-bold{font-weight: 700;}

//MARGINS
.margin-bottom-big{margin-bottom:6rem;}
.margin-bottom-medium{margin-bottom:4rem;}
.margin-bottom-small{margin-bottom:2rem;}